<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ContactUsMesssages_Messages::data" title="Messages - Contact us" module="ContactUsMesssages_Messages" sortOrder="75" resource="ContactUsMesssages_Messages::data"
             action="messages/data/index"/>
    </menu>
</config>
