input[disabled],textarea[disabled]{background:#FFF;color:#333;opacity:1!important;background-color:#FFF!important;cursor:default!important;}
._disabled>.admin__field-label{color:#000!important;}
.message_form{width:49%;margin: 0 auto;display:block;}
#send-email{background-color:rgba(204, 204, 204, 0.3);padding:15px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-top: 20px;}
.fl_right{text-align: right;}